# Dépendances
node_modules/

# Build Next.js
.next/
out/

# Variables d'environnement (NE PAS UPLOADER)
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Cache
.cache/

.vercel
